<%= render "topbar" %>
<div class='home'>
    <%= link_to image_tag('industry1.png'), new_candidate_path %>
    <%= link_to image_tag('industry2.png'), new_candidate_path %>
    <%= link_to image_tag('industry3.png'), new_candidate_path %>
    <%= link_to image_tag('industry4.png'), new_candidate_path %>
</div>
