<%= render "topbar" %>
<div class="banner-contain">
  <h1 class="banner-content">Create a Profile with Adecco</h1>
</div>
<%= render 'form_errors.html.erb', object: @candidate  %>
<div class= candidate-div>
<h2></h2>
<h3>Thanks for coming <%= @candidate.first_name %></h3>
<h6>Help us know where to look for your jobs.</h6>
<%= simple_form_for @candidate, url: candidate_path do |form| %>
  <%= form.input :zipcode, placeholder: '53202', error: false %>
  <%= form.input :radius, placeholder: '20', label: 'Miles Willing to Travel', error: false %>
  <%= form.input :date_available, as: :date, html5: true %>
  <div class="modal">
    <label for="modal-1">
      <div class="modal-trigger">Next</div>
    </label>
    <input class="modal-state" id="modal-1" type="checkbox" />
    <div class="modal-fade-screen">
      <div class="modal-inner">
        <label class="modal-close" for="modal-1"></label>
        <%= image_tag('logo_small.png') %>
        <p class="modal-intro">Just a few more questions and you're on your way to meeting a recruiter. <br> Leave blank to opt out.</p>
        <%= form.input :race, label: 'Race' do %>
          <%= form.select :race, races_for_select%>
        <% end %>
        <%= form.input :gender, label: 'Gender' do %>
          <%= form.select :gender, genders_for_select%>
        <% end %>
        <%= form.input :disability_status, label: 'Disability Status' do %>
          <%= form.select :gender, disability_status_for_select%>
        <% end %>
        <%= form.input :veteran_status, label: 'Veteran Status' do %>
          <%= form.select :gender, veteran_status_for_select%>
        <% end %>
        <%= form.button :submit, "Submit" %>
      </div>
    </div>
  </div>
<% end %>
</div>
