<ul>
<li><%= @appointment.timeslot.start_time.strftime('%l:%M %P') %></span></li>
<li><%= @appointment.timeslot.start_time.strftime('%A %B %-d, %Y') %></li>
<li><%= @appointment.recruiter.first_name %></li>
<div class='edit-buttons'>
<%= button_to "Confirm", candidate_appointment_path(params[:candidate_id], @appointment), method: :put %>
<%= link_to "Return to Times", candidate_appointments_path(params[:candidate_id],
  Date.today),
  method: :get,
  class: :button %>
</div>
