<div>
  <h1 class="ThemeHeadingText">Choose a Time:</h1>
  <%= link_to('<i class="material-icons">arrow_back</i>'.html_safe,
      appointments_path(@yesterday))%>
  <%= link_to('<i class="material-icons">today</i>'.html_safe,
      appointments_path(month: Time.now.month, day: Time.now.day, year: Time.now.year))%>
  <%= link_to('<i class="material-icons">arrow_forward</i>'.html_safe,
      appointments_path(@tomorrow))%>
</div>


<div class="cand_day">
  <h3><%= @date.strftime('%A %B %-d, %Y') %></h3>
  <% @appointments.each do |a| %>
    <% if a.timeslot.start_time.strftime('%b %d') == @date.strftime('%b %d') %>
      <ul>
        <% if Appointment.exists?(timeslot_id: a.timeslot)%>
          <li>
            <%= a.timeslot.start_time.strftime('%H:%M') %>
            <%= button_to "Select", edit_appointment_path(a), method: :get, class: "submit" %>
          </li>
        <% end %>
      </ul>
    <% end %>
  <% end %>
</div>
<div class="cand_day">
  <h3><%= (@date + 1).strftime('%A %B %-d, %Y') %></h3>
  <% @appointments.each do |a| %>
    <% if a.timeslot.start_time.strftime('%b %d') == (@date + 1).strftime('%b %d') %>
    <ul>
      <% if Appointment.exists?(timeslot_id: a.timeslot)%>
        <li>
          <%= a.timeslot.start_time.strftime('%H:%M') %>
          <%= button_to "Select", edit_appointment_path(a), method: :get, class: "submit" %>
        </li>
      <% end %>
    </ul>
  <% end %>
</div>
<% end %>
