
<div class="head_div">
  <div class="four-span head-element">
    <div class="ThemeHeadingText"><i class="material-icons" id="circle">fiber_manual_record</i>Set Availability:</div>
  </div>
  <div class="day-nav head-element">
    <%= link_to(new_appointment_path(@yesterday)) do %>
      <i class="bhi-previous"></i>
    <% end %>
    <%= link_to(new_appointment_path(
        month: Time.now.month,
        day: Time.now.day,
        year: Time.now.year)) do %>
      <i class="bhi-calendar"></i>
    <% end %>
    <%= link_to(new_appointment_path(@tomorrow)) do %>
      <i class="bhi-next"></i>
    <% end %>
  </div>
  <div class="two-span head-element">
    <%= submit_tag 'Submit', class: "submit" %>
  </div>
</div>

<%= form_tag appointments_path(method: :post) do %>


<div class="sched_day">
  <h3><%= (@date - 1).strftime('%B %-d, %Y') %></h3>
  <% @timeslots.each do |t| %>
    <% if t.start_time.strftime('%b %d') == (@date - 1).strftime('%b %d') %>
      <ul>
        <li>
          <% if Appointment.exists?(timeslot_id: t, recruiter_id: 11) %>
            <%= check_box_tag "available_times[]", t.id, {checked: "checked"}%>
          <% else %>
            <%= check_box_tag "available_times[]", t.id %>
          <% end %>
          <%= t.start_time.strftime('%l:%M %p') %>
        </li>
      </ul>
    <% end %>
  <% end %>
  </div>
<div class="sched_day">
  <h3><%= @date.strftime('%B %-d, %Y') %></h3>
  <% @timeslots.each do |t| %>
    <% if t.start_time.strftime('%b %d') == @date.strftime('%b %d') %>
      <ul>
        <li>
          <% if Appointment.exists?(timeslot_id: t, recruiter_id: 11) %>
            <%= check_box_tag "available_times[]", t.id, {checked: "checked"}%>
          <% else %>
            <%= check_box_tag "available_times[]", t.id %>
          <% end %>
          <%= t.start_time.strftime('%l:%M %p') %>
        </li>
      </ul>
    <% end %>
  <% end %>
  </div>
<div class="sched_day">
  <h3><%= (@date + 1).strftime('%B %-d, %Y') %></h3>
  <div>
    <% @timeslots.each do |t| %>
      <% if t.start_time.strftime('%b %d') == (@date + 1).strftime('%b %d') %>
        <ul>
          <li>
            <% if Appointment.exists?(timeslot_id: t, recruiter_id: 11) %>
              <%= check_box_tag "available_times[]", t.id, {checked: "checked"}%>
            <% else %>
              <%= check_box_tag "available_times[]", t.id %>
            <% end %>
            <%= t.start_time.strftime('%l:%M %p') %>
          </li>
        </ul>
      <% end %>
    <% end %>
  </div>
</div>

<% end %>
